<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ielab.ishak.thenytimes">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity
            android:name="com.ielab.ishak.thenytimes.activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.ielab.ishak.thenytimes.activities.ArticleActivity"
            android:label="@string/article_activity_title"
            android:parentActivityName="com.ielab.ishak.thenytimes.activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ielab.ishak.thenytimes.activities.MainActivity" />
        </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="b3ff81d2738b62cd771eaf43b70175a5b8d540d8" />
    </application>

</manifest>